*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS HEADER */
header{
    background-color: orange;
    position: fixed;
    width: 100%;
    height: 60px;
}

/* MAIN CONTAINER PER CRAVATTA */
.container{
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
}

/* BORDER DA TOGLIEREEEEE */
.border{
    border: 1px dotted black;
}

/* css flex della row, per fare righe+colonne */
.row{
    display: flex;
    flex-direction: row;
}

.row2{
    display: flex;
    flex-direction: row;
}

.column{
    width: calc(100% / 3);
    height: 924px;
}

/* css img in colonne */
.img-size{
    width: 100%;
}

/* css prezzi in main */
.price{
    color: red;
}

.old-price{
    text-decoration: line-through;
}
/* CSS FOOTER */
footer{
    background-color: black;
    color: #fff;
    width: 100%;
    height: 80px;
}