*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i{
    padding: 0px 3px;
}

/* CSS HEADER */
header{
    background-color: #ff6900;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    z-index: 1;
}

.hr-column{
    width: calc(100% / 3);
    height: 60px;
    color: #fff;
}

.hr-column span{
    font-size: 17px;
    font-weight: bold;
    padding: 0px 5px;
}
#logo{
    height: 35px;
}

.hr-row{
    display: flex;
    flex-direction: row;
}

.d-flex-center{
    display: flex;
    align-items: center;
}
.jf-center{
    justify-content: center;
}

.jf-end{
    justify-content: flex-end;
}

/* MAIN CONTAINER PER CRAVATTA */
.container{
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
}

/* MAIN */
main{
    margin-top: 100px;
}

/* css flex della row in main*/
.row{
    display: flex;
    flex-direction: row;
}

.row2{
    display: flex;
    flex-direction: row;
}

.gap{
    gap: 20px;
}

.column{
    width: calc(100% / 3);
    margin-bottom: 50px;
    position: relative;
}

/* css img main in colonne */
.img-size{
    width: 100%;
}

/* css prezzi in main */
.price{
    color: red;
}

.old-price{
    text-decoration: line-through;
}

/* css absolute*/
.hearts{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 0;
    padding: 5px 15px;
    font-size: 30px;
    background-color: #fff;
}

.discount{
    position: absolute;
    bottom: 80px;
    left: 0;
    font-size: 15px;
    background-color: red;
    color: #fff;
    padding: 5px 10px;
}

.eco-friendly{
    position: absolute;
    bottom: 80px;
    left: 60px;
    font-size: 15px;
    background-color: green;
    color: #fff;
    padding: 5px 10px;
}

.eco-friendly_sz6{
    position: absolute;
    bottom: 80px;
    left: 0px;
    font-size: 15px;
    background-color: green;
    color: #fff;
    padding: 5px 10px;
}

/* css hoover */
.show{
    display: block;
}

.hidden{
    display: none;
}

.column:hover .hidden{
    display: block;
}

.column:hover .show{
    display: none;
}

.column:hover .hearts{
    color: red;
}

/* CSS FOOTER */
footer{
    background-color: black;
    color: #fff;
    width: 100%;
    height: 90px;
}

.d-flex-end{
    display: flex;
    align-items: flex-end;
}

.ft-flx-dir{
    flex-direction: column;
}

.ft-column{
    width: calc(100% / 2);
    color: #fff;
    margin: 20px 10px;
}

.ft-column h4{ 
    font-size: 20px;
    margin-bottom: 10px;
}

.ft-column h5{ 
    font-size: 15px;
    margin-bottom: 10px;
}